.Team{
    margin: 75px 0;
}

.container{
   display: flex;
   margin: 70px;
   text-align: center;
   width: auto;
   justify-content: center;
   flex-wrap: wrap;
}

.container .team-member{
    background-color: #f8f1f1;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color:#11698e;
    position: relative;
}

.container .team-member h3{
   font-family: 'Lora', serif;;
    font-weight: bold;
    font-size: 22px;
    color:#142843;
    margin-top: 10px;
}

.container .team-member p{
    margin-top: 10px;
}

.container .team-member .team-image{
width: 100px;
height: 100px;
border-radius: 50%;

}

.container a{
    margin:10px;
    color:#142843;
    border: 2px solid #142843 ;
    border-radius: 100%;
    padding: 5px;
}

.container a:hover{
    background-color:#142843 ;
    color:#f8f1f1;
}

.container .team-member .team-image img{
    height: 150px;
    width:150px;
    border-radius: 100%;
    border: 10px solid #f8f1f1;
    position: absolute;
    top:-50px;
    left: 50%;
    transform: translateX(-50%);
    
}

main h1{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: #142843;
    font-family: 'Lora', serif;
    font-size: 40px;
    
}
h1::after{
    content: "";
    height: 3px;
    width: 150px;
    background-color: #142843;
    margin: 10px auto;
    display: block;
}

#doc{
text-decoration: none;
position: absolute;
bottom:130px;
left:20%;
}
#doc :hover{
    color:#05795c ;
}