.hotelsSec h1{
    color: #000;
    font-size: 43px;
    font-weight: bolder;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 3%;
    text-shadow: 3px 2px #f1363fa3;
 }
 .container3 .card3{
    position: relative;
    max-width: 300px;
    height: 270px;
    background: #fff;
    margin: 30px 10px;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    border-radius: 12px;
    justify-content: center;
    }

      .container3 .card3 .content3 p{
        font-size: 14px;
        margin-top: 2%;
        margin-bottom: 6%;
    }
    .container3 .card3 .content3{
        position: relative;
        margin-top: -80px;
        /* padding: 2px 15px; */
        text-align: center;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease-in-out;
    }
    .container3 .card3:hover .content3{
        visibility: visible;
        opacity: 1;
        margin-top: -10px;
        transition-delay:0.2s ;
    }
    .container3 .card3:hover{
        height: 350px;
    }
    .container3 .card3 .imgBx3{
        position: relative;
        width: 100%;
        height: 200px;
        top: -40px;
        left: 1.5px;
        z-index: 1;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    }
    .container3 .card3 .imgBx3 img{
        max-width: 100%;
        border-radius: 4px;
        height: 100%;
    }
    .popDes {
        width: 100%;
        margin-top: 3%;
        text-align: center;
    }