.videoSection{
    width: 100%;
    justify-content: center;
}
.videoSection video{
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.videoSection h1{
    position: absolute;
    color: rgb(255, 255, 255);
    z-index: 5;
    margin-top: -270px;
    font-size: 50px;
    font-family: 'Libre Baskerville', serif;
    text-shadow: 5px 4px #181515ea;
    text-align: center;
    justify-content: center;
}
body{
display: flex;
flex-direction: column;
justify-content: center;
z-index: 1;
width: 100%;
height: 100%;
font-family: initial;
}
.hotelName{
    font-size: 35px;
    text-align: center;
    margin-top: 5%;
    text-shadow: 3px 2px #f1363f73;
}
.all{
    display: grid;
    grid-template-columns: 45% 55%;
    width: 60%;
    margin-top: 4%;
    border: #000 solid 1px;
    height: 402px;
    padding-left: 20px;
    margin-left: 20%;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.all .contentDiv{
    width: 111%;
    height: 400px;
    /* background:rgba(175, 154, 130, 0.58) ; */
    background: radial-gradient(at 0% 100%, #d2ae84c4 10px, #d5ad9ccc 30%, rgba(252, 250, 243, 0.966) 25%);
    margin-left: -5%;
    padding: 20px;
    padding-top: 2px;
    border-radius: 5px;
  

}
.all .slidershow1{
    width: 100%;
}

p  {
    font-size: 20px;
}
.starRate{
    color: #000;
    font-weight: bolder;
    font-size: 25px;
} 
span{
    font-size: 18px;
    color: black;
    font-weight: bold;
    padding: 3px;
}

.fisrtSection1 {
    padding: 0;
    margin: 0;
    background: none;
    height: 500px;
    width: 100%;
    float: right;
}
.slidershow1 {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;

}
.navigation1{
    position: absolute;
    top: 140%;
    left: 65%;
    transform: translateX(-50%);
    display: flex;
    float: right;
    z-index: 5;
}
.bar{
    width: 15px;
    height: 15px;
    border: 2px solid rgba(0, 0, 0, 0.919) ;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 30px;
}
.bar:hover{
    background: #000000d5;
}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.slides1{
    width: 700%;
    height: 100%;
    display: flex
}
.slide1{
    width: 20%;
    transition: 0.6s;
}
.slide1 img{
    width: 72%;
    height: 400px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
#r1:checked ~ .s11{
    margin-left: 0;
}
#r2:checked ~ .s11{
    margin-left: -20%;
}
#r3:checked ~ .s11{
    margin-left: -40%;
}
#r4:checked ~ .s11{
    margin-left: -60%;
}
#r5:checked ~ .s11{
    margin-left: -80%;
}
.navigation-auto1{
    position: absolute;
    display: flex;
    width: 400px;
    justify-content:center ;
    margin-top: 400px;
}
.navigation-auto1 div{
    border: 1px solid white;
    padding: 5px;
    border: 10px;
    transition: 1s;
}
.navigation-auto1 div:not(:last-child){
    margin-right: 40px;
}
#r1:checked ~ .navigation-auto1 .auto-btn1{
    background: white;
}
#r2:checked ~ .navigation-auto1 .auto-btn2{
    background: white;
}
#r3:checked ~ .navigation-auto1 .auto-btn3{
    background: white;
}
#r4:checked ~ .navigation-auto1 .auto-btn4{
    background: white;
}
#r5:checked ~ .navigation-auto1 .auto-btn5{
    background: white;
}
.hotel-img h1{
    color: black;
    float: right;
    margin-top: -46%;
    margin-right: 16%;
    font-size: 30px;
}

.listOfContent{
    font-size: 17px;
    margin: 10px;
    padding: 5px;
    font-weight: bold;
}
h4 {
    font-size: 18px;
    padding: 3px;
}
.all .contentDiv .bookBtn{
    background-color: #d5ad9cf1;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    margin-top: 8%;
    margin-bottom: 6%;
    float: right;
    margin-right: 10%;
    font-weight: bold;
}

.secondContent{
    width: 17%;
    margin-top: 7%;
    border: #000 solid 1px;
    height: auto;
    padding-left: 35px;
    margin-left: 73%;
    background: rgba(252, 250, 243, 0.33) ;
    border-radius: 5px;
    margin-top: -21%;
    display: none;
    z-index: 19;
    box-shadow: 10px 0 5px -2px rgba(157, 148, 148, 0.842);
}

.show-hide{
    background-color: #d5ad9c93;
    color: rgb(0, 0, 0);
    font-weight: bold;
    width: 150px;
    height: 40px;
    cursor: pointer;
    margin-top: -90%;
    margin-left: 212%;
    z-index: 20;
}
a{

    text-decoration: none;
    color: #000;
}