@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
background-color: white;
/* font-family: sans-serif; */
font-size: 14px;
width: 100%;
height: 100%;
overflow-x: hidden;
}
a {
    cursor: pointer;
}
div img {
    float: left;
    width: 280px;
    margin-right: 9%;
    transition: 0.6s;
}
div.sticky{
    padding: 0px 10px;
    background: rgba(9, 4, 4, 0.904);
    height: 70px;
}
.menu-bar
{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  transition: .6s;
  align-items: center;
  z-index: 90;
  padding: 10px 30px;
}
.menu-bar ul
{
    position: relative;
    display: flex;
    color: cornsilk;
    justify-content: center;
    margin-left: 60%;
}
.menu-bar ul li
{
    width: 100px;
    padding-top: 15px;
    margin-top: 15px;
    position: relative;
    list-style: none;
}
.menu-bar ul li a
{
  text-decoration: none ;  
  color: #fff;
  position: relative;
  letter-spacing: 2px;
  transition: 0.5s;
  margin: 10px 0;
  font-weight: bolder;
}
.menu-bar ul li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff ;
    transform: scaleY(2.5);
    opacity: 0;
    transition: .5s;  
}
.menu-bar ul li a:hover:before {
    transform: scaleY(1.7);
    opacity: 1;
}
.menu-bar ul li a:hover{
    transition: .2s;
font-weight: bolder;
}
nav.sticky ul li a{
    color: #000;
}
.fisrtSection {
    padding: 0;
    margin: 0;
    background: white;
    height: 601px;
    width: 100%;
}
.slidershow {
    position: relative;
    width: 100%;
    height: 110%;
    overflow: hidden;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50% ,-50%);
    z-index: 1;
}
.navigation{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    width: 15px;
    height: 15px;
    border: 2px solid rgba(0, 0, 0, 0.919) ;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 30px;
}
.bar:hover{
    background: #000000d5;
}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.slides{
    width: 500%;
    height: 100%;
    display: flex
}
.slide{
    width: 20%;
    transition: 0.6s;
}
.slide img{
    width: 100%;
    height: 100%;
}
#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%;
}
.navigation-auto{
    position: absolute;
    display: flex;
    width: 400px;
    justify-content:center ;
    margin-top: 400px;
}
.navigation-auto div{
    border: 1px solid white;
    padding: 5px;
    border: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#r1:checked ~ .navigation-auto .auto-btn1{
    background: white;
}
#r2:checked ~ .navigation-auto .auto-btn2{
    background: white;
}
#r3:checked ~ .navigation-auto .auto-btn3{
    background: white;
}
/* footer part */
footer{
    background:#000;
    background-size: cover;
    background-position: center;
    text-align: center;  
    margin-top: 20%; 
    font-size: 15px;
    color: #fff;
    padding: 2px;
    height: 340px;
  }
  footer .socialMedia ul{
      display: inline-flex;
      list-style: none;
      margin-top: 28px;
      text-align: center;
  }
  footer .socialMedia ul li {
      margin : 9px 1px 1px;
      padding: 10px;
  }
  footer .socialMedia ul li a {
      color: white;
      font-size: 22px;
  }
  footer .contact  ul li {
  margin-bottom: 15px;
  text-align: center;
  }
  .imgContainer{
      float: left;
      width: 320px;
  }
 .footerP{
      font-family: cursive;
  }
  .imgContainer .footerLogo {
      width: 300px;
      height: 100px;
      margin-top: 15px;
      /* margin-bottom: 10px; */
  }
  .imgContainer .ibnBattouta  {
    width: 250px;
    height: 230px;
    margin-left: 25px;
    margin-top: -15px;
  }
  .gallerycontainer{
      float: right;
  }
  h2 {
    margin-top: 40px;
    margin-bottom: 30px;
}
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 30%;
    row-gap: 10px;
    column-gap: 10px;
  }
 .gallery {
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    width:130px ;
    height: 110px;
    border-radius: 5px;
    transition: 0.3s ;
  }

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    margin-left: 24%;
  }
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  /* The Close Button */
  .close {
    position: absolute;
    top: 15%;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
  /* Form in Home page  */
  .formSection{
      position: absolute;
    }
    .formSection h2 {
        margin-left: 370px;
        width: 2000px;
        position: absolute;
        color: rgb(255, 255, 255);
        z-index: 5;
        margin-top: -330px;
        font-size: 60px;
        font-family: 'Libre Baskerville', serif;
        text-shadow: 5px 4px #181515ea;
    }

    #search-button{
      position: absolute;
      background-color: #f1363fd5;
      z-index: 20;
      color: white;
      margin-top: -115px;
      margin-left: 660px;
      border-radius: 8px;
      width: 150px;
      height: 40px;
      cursor: pointer;
    }
  #search_input{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.419);
    z-index: 20;
    margin-top: -180px;
    margin-left: 500px;
    border-radius: 8px;
    width: 440px;
    height: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 19px;
  }
  #search_input::placeholder{
      color: rgba(0, 0, 0, 0.767);
      font-size: 16px;
      font-weight: bolder;
  }
 
.popDes{
    width: 100%;
    margin-top: 12%;
    text-align: center;
}
.popDes h1 {
    color: #000;
    font-size: 43px;
    font-weight: bolder;
}
.popDes p{
    margin-top:1%;
    font-size: 20px;
}
 
.aboutUs{
    width: 100%;
    margin-top: 8%;
    /* margin-bottom: 10%; */
    text-align: center;
    display: inline-block;
   

}
.aboutUs h1 {
    color: #000;
    font-size: 43px;
    font-weight: bolder;
}
.aboutUs p{
    margin-top:1%;
    font-size: 20px;
    margin-bottom: 3%;
}
.aboutUs img {
    position: relative;
    width: 26.8%;
    height: 37%;
    z-index: 5;
    margin-left: 14.5%;
    
    
}
.aboutUs .vision{
    position: absolute;
    width: 50%;
    border: 2px dashed #58524e;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-left: 37%;
    margin-top: 3%;
    box-shadow: 5px 5px 10px rgb(158, 158, 158);
    background: rgba(252, 250, 243, 0.966);
}
.aboutUs .mission{
    background-color: rgb(252, 252, 252);
    z-index: 6;
}
.chooseUs{
    width: 100%;
    margin-top: 8%;
    text-align: center;
}
.chooseUs h1 {
    color: #000;
    font-size: 43px;
    font-weight: bolder;
}
.chooseUs p{
    margin-top:1%;
    font-size: 20px;
}
.review{
    width: 100%;
    margin-top: 10%;
    margin-bottom: 3%;
    text-align: center;
    
}
.review h1 {
    color: #000;
    font-size: 43px;
    font-weight: bolder;
}
.reviews{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* margin-top: 12%;
    text-align: center; */
    /* margin-bottom: 30%; */
}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100%;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 20%;
    box-shadow: 0 15px 20px rgba(59, 51, 51, 0.842); 
    filter: blur(2px);
    border-radius: 10px;
    /* background-color: white; */
    height: 350px;
    background: radial-gradient(at 0% 100%, #d2ae84c4 10px, #d5ad9ccc 50%, rgba(252, 250, 243, 0.966) 25%);
    
  }

  .swiper-slide-active{
    filter: blur(0px);
  }
  .testimonialBox{
  position: relative;
  width: 100%;
  padding: 40px;
  padding-top: 90px;
  color: #999;
  }
  .testimonialBox .quote {
      position: absolute;
      top: 20px;
      right: 30px;
      opacity: 0.5;
      width: 70px;

  }
  .testimonialBox .details1{
      display: flex;
      align-items: center;
      margin-top: 20px;
      color: black;
      font-weight: bolder;

  }
  .testimonialBox .details1 .imgBx{
      position: relative;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px;

  }

  .testimonialBox .details1 .imgBx img{
      position: absolute;
      top: 0;
      left: 0;
      width:100% ;
      height: 100%;
      object-fit: cover;
      float: left;
  }
  .testimonialBox .details1 h3{
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 1em;

  }
  .testimonialBox .content1 p{
    /* color: #f1363f; */
    color: black;
    font-weight: bolder;
  }
  .testimonialBox .details1 h3 span{
      font-size: 12px;

  }
  .swiper-container-3d .swiper-slide-shadow-left,
  .swiper-container-3d .swiper-slide-shadow-right
  {
      background-image: none;
  }