<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style/aboutus2.css">
 
</head>

<body class="body">

  

  <div class="center1">
  
  </div>
  <hr>


  <nav class="nav-background">
    <article class="scroll" style="font-size: 25px;">
      <span> Portmanteau</span> is a Travel Agency App which
      Provides Integrated Travel Services.
      <span>Portmanteau</span>gives you a unique and distinctive experience that enables you to easily complete all travelling prep  with limited clicks on your device !!!

      <span>Portmanteau</span>It was established in May / 2021, by Sons of Battuta.
      <br>
      In <span>Portmanteau</span> We are happy with any addition or suggestion from you, for more information please
      contact us by via email.
    </article>
    <hr>
  </nav>
  <br>




  <div class="container-aboutus">
    <div class="content-aboutus">
      <div class="content-overlay-aboutus"></div>
      <img class="content-image-aboutus" src="../../imgaboutus2/abdalqader.jpg">
      <div class="content-details-aboutus fadeIn-bottom-aboutus">
        <h3 class="title-aboutus">AbdalQader Mhemed </h3>
        <br>
        <h3 class="content-title-aboutus">Team leader ....</h3>
        <br>

      </div>
      </a>
    </div>
  </div>

  <div class="container-aboutus">
    <div class="content-aboutus">
      <div class="content-overlay-aboutus"></div>
      <img class="content-image-aboutus" src="/images/abdalrahman.jpg">
      <div class="content-details-aboutus fadeIn-bottom-aboutus">
        <h3 class="title-aboutus">AbdalRahman Albdahat </h3>
        <br>
        <h3 class="content-title-aboutus">A civil engineer have good idea in coding and I seek to be full stack software developer</h3>
        <br>
      </div>
      </a>
    </div>
  </div>
  <div class="container-aboutus">
    <div class="content-aboutus">
      <div class="content-overlay-aboutus"></div>
      <img class="content-image-aboutus" src="/images/esraa.jpg">
      <div class="content-details-aboutus fadeIn-bottom-aboutus">
        <h3 class="title-aboutus">Esra</h3>
        <br>
        <h3 class="content-title-aboutus"> A Civil Engineer  </h3>
        <br>
      </div>
      </a>
    </div>
  </div>
  <div class="container-aboutus">
    <div class="content-aboutus">
      <div class="content-overlay-aboutus"></div>
      <img class="content-image-aboutus" src="/images/ruba.jpg">
      <div class="content-details-aboutus fadeIn-bottom-aboutus">
        <h3 class="title-aboutus">Ruba Banat</h3>
        <br>
        <h3 class="content-title-aboutus">A former Economist and a new Software developer.</h3>
        <br>
      </div>
      </a>
    </div>
  </div>
  <div class="container-aboutus">
    <div class="content-aboutus">
      <div class="content-overlay-aboutus"></div>
      <img class="content-image-aboutus" src="/images/zaid.jpg">
      <div class="content-details-aboutus fadeIn-bottom-aboutus">
        <h3 class="title-aboutus">Zaid Alasfar</h3>
        <br>
        <h3 class="content-title-aboutus">I'm 23. years old , I studied E-business in the Petra University , graduated in June 2019 </h3>
        <br>
      </div>
      </a>
    </div>
  </div>
  <hr>
</body>

  <h6 class="infoBy"> All Rights Recived 2021 - By Sons of Battuta</h6>

</main>