<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <% arrOfImages.forEach(value=>{%>

    <img style="width:400px" src=<%=value %> alt="">
 <% }) %> 


 <!-- DO NOT TOUCH THIS COMMENTED CODE -->
 
 <!-- <form action="/sentences" method="post">
  <input type="text" name="testInput" value="Hello">
  <button>Test APi</button>
</form> -->

</body>
</html>