<%- include('./layout/head') %>

  <body>

    <%- include('./layout/header') %>

      <section class="CitySection">
        <div class="cityImg">

          <% arrOfImages.forEach(value=>{%>

            <img src=<%=value %> alt="">
            <% }) %>

        </div>
      </section>


      <!-- DO NOT TOUCH THIS COMMENTED CODE -->

      <!-- <form action="/sentences" method="post">
  <input type="text" name="testInput" value="Hello">
  <button>Test APi</button>
</form> -->
      <%- include('./layout/footer') %>
  </body>

  </html>