<%- include('./layout/head') %>

    <body>
        <%- include('./layout/header') %>
            <main>
                <section class="fisrtSection">
                    <div class="slidershow">
                        <div class="slides">
                            <input type="radio" name="r" id="r1" checked>
                            <input type="radio" name="r" id="r2">
                            <input type="radio" name="r" id="r3">

                            <div class="slide s1">
                                <img src="../../img/img1.jpg">
                            </div>
                            <div class="slide">
                                <img src="../../img/img6.jpg">
                            </div>
                            <div class="slide">
                                <img src="../../img/img12.png">
                            </div>
                        </div>
                    </div>
                    <div class="navigation">
                        <label for="r1" class="bar"></label>
                        <label for="r2" class="bar"></label>
                        <label for="r3" class="bar"></label>
                    </div>
                    <div class="navigation-auto">
                        <div class="auto-btn1"></div>
                        <div class="auto-btn2"></div>
                        <div class="auto-btn3"></div>

                    </div>
                    </div>

                </section>
                <!-- main -->
                <section class="formSection">
                    <h2>Where do you want to go ?</h2>
                    <h5>Trips, experiences, and places. All in one service.</h5>
                    <form action="/search" method="GET">
                        <input type="text" placeholder="Search City" id="search_input" name="cityName">
                        <button id="search-button">Search</button>
                    </form>
                </section>
            </main>
            <!-- footer -->
            <%- include('./layout/footer') %>
    </body>

    </html>