<%- include('./layout/head') %>

    <link rel="stylesheet" href="/style/modules.css">

    <body <%- include('./layout/header') %>>
        <%- include('./layout/homeHeader') %>
            <main>
                <section class="fisrtSection">
                    <div class="slidershow">
                        <div class="slides">
                            <input type="radio" name="r" id="r1" checked>
                            <input type="radio" name="r" id="r2">
                            <input type="radio" name="r" id="r3">
                            <div class="slide s1">
                                <img src="../../img/img12.png">
                            </div>
                            <div class="slide">
                                <img src="../../img/img6.jpg">
                            </div>
                            <div class="slide">
                                <img src="../../img/img9.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="navigation">
                        <label for="r1" class="bar"></label>
                        <label for="r2" class="bar"></label>
                        <label for="r3" class="bar"></label>
                    </div>
                    <div class="navigation-auto">
                        <div class="auto-btn1"></div>
                        <div class="auto-btn2"></div>
                        <div class="auto-btn3"></div>
                    </div>
                    </div>
                </section>
                <section class="formSection">
                    <h2>Where do you want to go ?</h2>
                    <form action="/search" method="GET">
                        <input type="text" placeholder="Destination ... " id="search_input" name="cityName" required>
                        <button id="search-button">Search</button>
                    </form>
                </section>
                <div class="typewriter">
                    <div class="typewriter-text">Trips, experiences, and places. All in one service.</div>
                </div>
                <section class="popDes">
                    <h1> Popular Destinations </h1>
                    <p>World's best tourist destinations</p>
                </section>
                <section class="videoSec">
                    <div class="videoeContainer">
                        <div class="box">
                            <div class="vidoeBx">
                                <video src="../../img/tokyo.mp4" muted autoplay loop> </video>
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2> Tokyo </h2>
                                    <p>Tokyo, Japan's busy capital, mixes the ultramodern and the traditional, from
                                        neon-lit skyscrapers to historic temples</p>
                                    <form action="/search" method="GET">
                                        <input hidden type="text" value="Tokyo" name="cityName">
                                        <button id="button">Go to Tokyo</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="vidoeBx">
                                <video src="../../img/paris.mp4" muted autoplay loop> </video>
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2> Paris </h2>
                                    <p>Paris, France's capital, is a major European city and a global center for art,
                                        fashion, gastronomy and culture.</p>
                                    <form action="/search" method="GET">
                                        <input hidden type="text" value="Paris" name="cityName">
                                        <button id="button">Go to Paris</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="vidoeBx">
                                <video src="../../img/istanbul.mp4" muted autoplay loop> </video>
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2> Turkey </h2>
                                    <p> Turkey, is located in western Asia and
                                        a small enclave in Thrace in the Balkan region of Southeast Europe</p>
                                    <form action="/search" method="GET">
                                        <input hidden type="text" value="Turkey" name="cityName">
                                        <button id="button">Go to Turkey</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="aboutUs">
                    <h1> Who we are </h1>
                    <p>we make dreams come true</p>
                    <div class="mission">
                        <img src="../../img/portma.png" alt="">
                        <div class="vision">
                            <h2>
                                OUR MISSION
                            </h2>
                            <p>
                                Our goal is to fulfill the hopes and purpose of the group‘s tour in fresh and exciting
                                ways, and do it better than expected.

                                We plan to make each tour to the world arousing and energizing for everyone .
                            </p>
                            <h2>
                                Our Vision
                            </h2>
                            <p>
                                Our vision is to become a market leader of tourism industry and also to satisfy the
                                needs and aspirations of our customer.

                                We fulfill life-changing dreams of traveling to learn, understand, connect, interact,
                                and make memorable moments.
                            </p>


                        </div>
                    </div>
                </section>
                <section class="chooseUs">


                    <div>
                        <h1> Why Choose Us </h1>
                        <p> you should plan trip with us</p>
                    </div>
                    <div class="chooseContent">
                        <div>
                            <h2 class="chooseMe">
                               1- Experience and Trustworthiness.
                            </h2>

                            <p class="choose">
                                Our company has been providing tour services since August 20, 2003 and we have gained a
                                good
                                reputation. More than 50 000 of tourist from all over the world have already travel with
                                us
                                and highly appreciated the level of service.
                            </p>
                            <h2 class="chooseMe">

                               2- Friendly and Qualified Stuff.
                            </h2>
                            <p class="choose">
                                All the members of our team are passionate about their work and always ready to help. We
                                all
                                enjoy travelling . Just get in touch with us and we will assist you with planning a
                                trip.

                            </p>
                            <h2 class="chooseMe">
                               3- Best Price, no Hidden Fees.

                            </h2>
                            <p class="choose">
                                We are glad to offer our clients the best rates on our tours, transfers and other
                                services.
                                Due to direct contracts with all our suppliers, our prices are always relevant and
                                affordable.

                            </p>
                            <h2 class="chooseMe">
                               4- The High Level of Service.

                            </h2>
                            <p class="choose">

                                Our clients’ satisfaction is our priority. That is why we work only with the best
                                transport
                                companies, qualified tour-guides, hotels and restaurants.
                            </p>

                        </div>
                    </div>
                </section>
                <section class="review">
                    <div>
                        <h1> Testimonials </h1>
                    </div>
                </section>
                <section class="reviews">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testimonialBox">
                                    <img src="../../img/quote.png" class="quote">
                                    <div class="content1">
                                        <p>" Everything was perfect, and I would have to say it was the vacation of a life time (...) I will do all I can to promote your company and your services. (...) Thank you so very much for having arranged the magnificent trip we took!! "</p>
                                        <div class="details1">
                                            <div class="imgBx">
                                                <img src="../../img/ahmad.jpeg" alt="">
                                            </div>
                                            <h3> Ahmad </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonialBox">
                                    <img src="../../img/quote.png" class="quote">
                                    <div class="content1">
                                        <p>Your service was great and we will be recommending your company to our friends for future travel.</p>
                                        <div class="details1">
                                            <div class="imgBx">
                                                <img src="../../img/unnamed.jpg" alt="">
                                            </div>
                                            <h3> Ruba </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonialBox">
                                    <img src="../../img/quote.png" class="quote">
                                    <div class="content1">
                                        <p>My wife arranged the booking with you, first time we tried your service and can report we were happy with everything. Yes we would book with you again!
                                            Keep providing great holiday offers!</p>
                                        <div class="details1">
                                            <div class="imgBx">
                                                <img src="../../img/moe.jpg" alt="">
                                            </div>
                                            <h3> Mohammad </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonialBox">
                                    <img src="../../img/quote.png" class="quote">
                                    <div class="content1">
                                        <p>Prompt and efficient service. Good communication. Great value for money package. Spoke with several consultants all who were able to assist.</p>
                                        <div class="details1">
                                            <div class="imgBx">
                                                <img src="../../img/ali.jpg" alt="">
                                            </div>
                                            <h3> Ali  <br> <span></span></h3>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <!-- footer -->
            <%- include('./layout/footer') %>
                <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
                <script>
                    var swiper = new Swiper('.swiper-container', {
                        effect: 'coverflow',
                        grabCursor: true,
                        centeredSlides: true,
                        slidesPerView: 'auto',
                        coverflowEffect: {
                            rotate: 0,
                            stretch: 0,
                            depth: 100,
                            modifier: 2,
                            slideShadows: true,
                        },
                        loop: true,

                    });
                </script>
    </body>

    </html>