<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style/style.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <title>Document</title>
</head>

<body>
  <%- include('./layout/header')  %>
<main>
  <section class="fisrtSection">

    <div class="slidershow">
        <div class="slides">
            <input type="radio" name="r" id="r1" checked>
            <input type="radio" name="r" id="r2">
            <input type="radio" name="r" id="r3">

            <div class="slide s1">
                <img src="../../img/img1.jpg">
            </div>
            <div class="slide">
                <img src="../../img/img6.jpg">
            </div>
            <div class="slide">
                <img src="../../img/img5.jpeg">
            </div>
        </div>
    </div>
    <div class="navigation">
        <label for="r1" class="bar"></label>
        <label for="r2" class="bar"></label>
        <label for="r3" class="bar"></label>
    </div>
    <div class="navigation-auto">
        <div class="auto-btn1"></div>
        <div class="auto-btn2"></div>
        <div class="auto-btn3"></div>

    </div>
    </div>

</section>
<section>
</section>
</main>
<%- include('./layout/footer')  %>
</body>
</html>
