
<%- include('./layout/head') %>


   



    <link rel="stylesheet" href="/style/modules.css">

    <body <%- include('./layout/header') %>>
        <%- include('./layout/homeHeader') %>
            <main>
                <section class="fisrtSection">
                    <div class="slidershow">
                        <div class="slides">
                            <input type="radio" name="r" id="r1" checked>
                            <input type="radio" name="r" id="r2">
                            <input type="radio" name="r" id="r3">
                            <div class="slide s1">
                                <img src="../../img/img12.png">
                            </div>
                            <div class="slide">
                                <img src="../../img/img6.jpg">
                            </div>
                            <div class="slide">
                                <img src="../../img/img9.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="navigation">
                        <label for="r1" class="bar"></label>
                        <label for="r2" class="bar"></label>
                        <label for="r3" class="bar"></label>
                    </div>
                    <div class="navigation-auto">
                        <div class="auto-btn1"></div>
                        <div class="auto-btn2"></div>
                        <div class="auto-btn3"></div>
                    </div>
                    </div>
                </section>
                <section class="formSection">
                    <h2>Where do you want to go ?</h2>
                    <form action="/search" method="GET">
                        <input type="text" placeholder="Destination ... " id="search_input" name="cityName">
                        <button id="search-button">Search</button>
                    </form>
                </section>
                <div class="typewriter">
                    <div class="typewriter-text">Trips, experiences, and places. All in one service.</div>
                </div>
                <section class="popDes">
                    <h1> Popular Destinations </h1>
                    <p>World's best tourist destinations</p>
                </section>
                <section class="videoSec">
                    <div class="videoeContainer">
                        <div class="box">
                            <div class="vidoeBx">
                                <video src="../../img/tokyo.mp4" muted autoplay loop> </video>
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2> Tokyo </h2>
                                    <p>Tokyo, Japan's busy capital, mixes the ultramodern and the traditional, from
                                        neon-lit skyscrapers to historic temples</p>
                                    <form action="/search" method="GET">
                                        <input hidden type="text" value="Tokyo" name="cityName">
                                        <button id="button">Go to Tokyo</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="vidoeBx">
                                <video src="../../img/paris.mp4" muted autoplay loop> </video>
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2> Paris </h2>
                                    <p>Paris, France's capital, is a major European city and a global center for art,
                                        fashion, gastronomy and culture.</p>
                                    <form action="/search" method="GET">
                                        <input hidden type="text" value="Paris" name="cityName">
                                        <button id="button">Go to Paris</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="vidoeBx">
                                <video src="../../img/istanbul.mp4" muted autoplay loop> </video>
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2> Turkey </h2>
                                    <p> Turkey, is located in western Asia and
                                        a small enclave in Thrace in the Balkan region of Southeast Europe</p>
                                    <form action="/search" method="GET">
                                        <input hidden type="text" value="Turkey" name="cityName">
                                        <button id="button">Go to Turkey</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="aboutUs">
                    <h1> Who we are </h1>
                    <p>we make dreams come true</p>
                    <div class="mission">
                        <img src="../../img/portma.png" alt="">
                        <div class="vision">
                            <h2>
                                OUR MISSION
                            </h2>
                            <p>
                                Our goal is to fulfill the hopes and purpose of the group‘s tour in fresh and exciting
                                ways, and do it better than expected.

                                We plan to make each tour to the world arousing and energizing for everyone .
                            </p>
                            <h2>
                                Our Vision
                            </h2>
                            <p>
                                Our vision is to become a market leader of tourism industry and also to satisfy the
                                needs and aspirations of our customer.

                                We fulfill life-changing dreams of traveling to learn, understand, connect, interact,
                                and make memorable moments.
                            </p>


                        </div>
                    </div>
                </section>
                <section class="chooseUs">
                    <h1> Why Choose Us </h1>
                    <p> you should plan trip with us</p>
                </section>
                <section class="review">
                    <div>
                        <h1> Customers reviews </h1>
                    </div>
                </section>
                <section class="reviews">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testimonialBox">
                                    <img src="../../img/quote.png" class="quote">
                                    <div class="content1">
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum
                                            blanditiis ad laudantium tempora nulla, quisquam, fuga rerum dolorem cum
                                            facere architecto non culpa similique! Sint iure quas fuga aliquid
                                            voluptatum!</p>
                                        <div class="details1">
                                            <div class="imgBx">
                                                <img src="../../img/avatar.png" alt="">
                                            </div>
                                            <h3> Someone <br> <span> Ruba Banat</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonialBox">
                                    <img src="../../img/quote.png" class="quote">
                                    <div class="content1">
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum
                                            blanditiis ad laudantium tempora nulla, quisquam, fuga rerum dolorem cum
                                            facere architecto non culpa similique! Sint iure quas fuga aliquid
                                            voluptatum!</p>
                                        <div class="details1">
                                            <div class="imgBx">
                                                <img src="../../img/avatar.png" alt="">
                                            </div>
                                            <h3> Someone <br> <span>zaid</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonialBox">
                                    <img src="../../img/quote.png" class="quote">
                                    <div class="content1">
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum
                                            blanditiis ad laudantium tempora nulla, quisquam, fuga rerum dolorem cum
                                            facere architecto non culpa similique! Sint iure quas fuga aliquid
                                            voluptatum!</p>
                                        <div class="details1">
                                            <div class="imgBx">
                                                <img src="../../img/avatar.png" alt="">
                                            </div>
                                            <h3> Someone <br> <span>Mohammad</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonialBox">
                                    <img src="../../img/quote.png" class="quote">
                                    <div class="content1">
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum
                                            blanditiis ad laudantium tempora nulla, quisquam, fuga rerum dolorem cum
                                            facere architecto non culpa similique! Sint iure quas fuga aliquid
                                            voluptatum!</p>
                                        <div class="details1">
                                            <div class="imgBx">
                                                <img src="../../img/avatar.png" alt="">
                                            </div>
                                            <h3> Someone <br> <span></span></h3>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <!-- footer -->
            <%- include('./layout/footer') %>
                <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
                <script>
                    var swiper = new Swiper('.swiper-container', {
                        effect: 'coverflow',
                        grabCursor: true,
                        centeredSlides: true,
                        slidesPerView: 'auto',
                        coverflowEffect: {
                            rotate: 0,
                            stretch: 0,
                            depth: 100,
                            modifier: 2,
                            slideShadows: true,
                        },
                       loop: true,
                        
                    });
                </script>
    </body>
    </html>