<%- include('./layout/head') %>
    <link rel="stylesheet" href="/style/modules.css">
    <body <%- include('./layout/header') %>>
        <%- include('./layout/homeHeader') %>
            <main>
                <section class="fisrtSection">
                    <div class="slidershow">
                        <div class="slides">
                            <input type="radio" name="r" id="r1" checked>
                            <input type="radio" name="r" id="r2">
                            <input type="radio" name="r" id="r3">
                            <div class="slide s1">
                                <img src="../../img/img12.png">
                            </div>
                            <div class="slide">
                                <img src="../../img/img6.jpg">
                            </div>
                            <div class="slide">
                                <img src="../../img/img9.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="navigation">
                        <label for="r1" class="bar"></label>
                        <label for="r2" class="bar"></label>
                        <label for="r3" class="bar"></label>
                    </div>
                    <div class="navigation-auto">
                        <div class="auto-btn1"></div>
                        <div class="auto-btn2"></div>
                        <div class="auto-btn3"></div>
                    </div>
                    </div>
                </section>
                <section class="formSection">
                    <h2>Where do you want to go ?</h2>
                    <form action="/search" method="GET">
                        <input type="text" placeholder="Destination ... " id="search_input" name="cityName">
                        <button id="search-button">Search</button>
                    </form>
                </section>
                <div class="typewriter">
                    <div class="typewriter-text">Trips, experiences, and places. All in one service.</div>
                </div>
                <section class="popDes">
                    <h1> Popular Destinations </h1>
                    <p>World's best tourist destinations</p>
                </section>
                <section class="videoSec">
                    <div class="videoeContainer">
                        <div class="box">
                            <div class="vidoeBx">
                                <video src="../../img/tokyo.mp4" muted autoplay loop> </video>
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2> Tokyo </h2>
                                    <p>Tokyo, Japan's busy capital, mixes the ultramodern and the traditional, from
                                        neon-lit skyscrapers to historic temples</p>
                                    <form action="/search" method="GET">
                                        <input hidden type="text" value="Tokyo" name="cityName">
                                        <button id="button">Go to Tokyo</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="vidoeBx">
                                <video src="../../img/paris.mp4" muted autoplay loop> </video>
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2> Paris </h2>
                                    <p>Paris, France's capital, is a major European city and a global center for art,
                                        fashion, gastronomy and culture.</p>
                                    <form action="/search" method="GET">
                                        <input hidden type="text" value="Paris" name="cityName">
                                        <button id="button">Go to Paris</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="vidoeBx">
                                <video src="../../img/istanbul.mp4" muted autoplay loop> </video>
                            </div>
                            <div class="contentBx">
                                <div class="content">
                                    <h2> Turkey </h2>
                                    <p> Turkey, is located in western Asia and
                                        a small enclave in Thrace in the Balkan region of Southeast Europe</p>
                                    <form action="/search" method="GET">
                                        <input hidden type="text" value="Turkey" name="cityName">
                                        <button id="button">Go to Turkey</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <!-- footer -->
            <%- include('./layout/footer') %>
    </body>
    </html>