<%- include('./layout/head')  %>

<body>
<form action="/checkUser" method="get">
  <input type="text" name="phoneNumber" placeholder="phone number..." required>
  <input type="password" placeholder="password" name="password" required>
  <button>Log in</button>
</form>


  <%- include('./layout/header')  %>
  <%- include('./layout/footer')  %>
</body>