<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/signup.css">
    <title>Document</title>
</head>

<body>
    <%- include( './layout/header' ) %>
        <div class="signupFrom">
            <!-- <img src="../../img/123.png" alt=""> -->
            <h1>Sign Up Now</h1>
            <form action="/addUserToDatabase" method="post">
                <input type="text" placeholder="First name" name="firstName" class="input-box" required>
                <input type="text" placeholder="Last name" name="lastName" class="input-box" required>
                <input type="text" placeholder="Phone number" name="phoneNumber" class="input-box" required pattern="[0-9]{10}">
                <input type="password" placeholder="Password" name="password" class="input-box" required>
                <button class="signBtn">Sign Up</button>
                <p>have an account already? <a href="/login">Login</a></p>
                <% if(haveAccount) %> 
                    <p><%= message %> </p>
                
            </form>
        </div>
    
</body>

</html>